body {
  font: 15px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
  font-weight: 300;
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
  color: #36ab36;
}

.block-group {
  padding-top: 30px;
  padding-bottom: 30px;
}

.t-super-head {
  font-weight: 100;
}

hr {
  margin: 30px 0;
  border-bottom: 1px dotted #36ab36;
}

.anchor {
  position: absolute;
}

.wrap {
  max-width: 960px;
  min-width: 880px;
  margin: 0 auto;
}

header.block-group {
  position: fixed;
  z-index: 9999;
  width: 100%;
  padding: 0;
  background: rgba(255,255,255,.96);
  border-bottom: 1px solid #aaa;
  box-shadow: 0 3px 0 rgba(0,0,0,.12);
}

header.block-group .inblock {
  margin-top: 0;
}

  .logo .inblock a {
    display: block;
    border-bottom: 0;
    height: 60px;
    width: 190px;
    margin: 0 20px 0 0;
    background: url(../images/c-vending-logo.png) no-repeat 0 75%;
    background-size: 152px 36px;
  }

  .menu {
    float: none;
  }

  header nav {
    display: block;
    cursor: default;
  }

  header nav a {
    display: inline-block;
    border-bottom: 0;
    color: #333;
    padding: 25px 14px 5px;
    line-height: 18px;
    height: 30px;
    margin-bottom: -4px;
    margin-left: -4px;
    border-bottom: 4px solid transparent;
    transition: all .2s;
  }

  header nav a:hover,
    header nav a:focus {
    border-bottom: 4px solid transparent;
    color: #36ab36;
  }

  header nav a.active {
    border-bottom: 4px solid #36ab36;
    color: #36ab36;
  }

    header nav a.active span {
      border: 0;
    }

  header nav a span {
    border-bottom: 1px dotted #5cc55c;
  }

header nav a.btn,
header nav a.btn:hover,
header nav a.btn:focus {
  float: right;
  margin-top: 20px;
  border-radius: 40px;
  padding: 3px 12px;
  height: 20px;
  font-size: 13px;
  line-height: 20px;
  border: 1px solid #5cc55c;
}

header .btn span {
  border-bottom: 0;
}

header .btn:hover,
header .btn:focus {
  background: #5cc55c;
  color: #fff;
}

.map {
  height: 420px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #3f5335 url(../images/map-bg.jpg) repeat 50% 64px;
  background-size: 1280px 380px;
  background-attachment: fixed;
}

.map .teazer {
  position: absolute;
  left: 45%;
  margin: 110px 50px 0 0;
}

.map .teazer img {
  width: 600px;
  min-width: 420px;
  max-width: 100%;
}

.map .teazer-text {
  margin: 260px 50px 0 0;
  color: #333;
  background: rgba(255,255,255,.95);
  padding: 5px 10px 20px 15px;
  width: 355px;
  border-radius: 2px;
  font-size: 20px;
  line-height: 26px;
  box-shadow: 0 15px 10px -4px rgba(0,0,0,.5);
}

.bg {
  background: #f4f4f4;
  margin-top: 30px;
  padding-top: 60px;
  margin-bottom: 1px;
}

.img {
  border-radius: 200px;
  overflow:hidden;
  max-width: 250px;
  margin: 0 auto 40px;
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
}

.bg-2 {
  background: #f4f2c5;
  padding-top: 30px;
  box-shadow: inset 0 4px 0 rgba(0,0,0,.1);
  text-shadow: 0 1px 0 #fff;
  margin-bottom: 15px;
}

.bg-2 hr {
  border-bottom: 1px dotted #fff;
}

.bg-2 .img {
  box-shadow: 0 4px 0 rgba(0,0,0,.1);
  border: 1px solid #fff;
  font-size: 16px;
  margin-bottom: 15px;
  text-indent: 22px;
  max-width: 160px;
  color: #36ab36;
}

.hr-top {
  border-top: 5px solid #5cc55c;
}

footer.block-group {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 160px;
  border-top: 2px solid #eee;
  font-size: 15px;
  color: #888;
}





